body {font-size: 2vh; width: 100%; }

	.container { display: flex; width: 99%; text-align:justify;  }
	
	section {border-bottom:solid; border-left: solid; color: black; float: right; margin-top: 0px;   }	

	p {padding: 15px; }

	.row1 { border:solid;  border-color: black; ; margin: 1%; width: 30%; background-color: #ADD8E6; display: inline-block;}
	 
	  .col1 {background-color: pink;width: 40%;text-align: center;  }

				
				.row2    {border: solid; border-color: black; margin: 1%; width: 30%;  background-color: #ADD8E6; display:inline-block;}
				.col2 {background-color: grey; width: 40%; text-align: center;}

	
	.row3  {border: solid; border-color: black; margin: 1%;  width: 30%;  background-color: #ADD8E6}
	.col3 {background-color: yellow;width: 40%; text-align: center; display: inline-block;}

	


/*media quries start*/


/*Desktop View*/
@media  (min-width: 992px) {
		body {font-size: 1em; Verdana, Geneva, sans-serif; overflow-x: hidden}
		.container { width:90%; margin: 50px; display: inline-flex; flex-wrap: wrap     } }
		


/*Tablet View*/
@media (max-width: 991px) and (min-width: 768px) {
		body {font-size: 1em; Verdana, Geneva, sans-serif; overflow-x: hidden}
		.container { width:90%; margin: 50px; display: inline-flex; flex-wrap: wrap     } 
		.row1 {width: 45%;  } 
		.row2 { width:45%; margin-left:5px; }
		.row3 {width: 93%; height: auto; margin-top: 8px;margin-left: 5px;}
		.col3 {width: 20%}  }		


/*Mobile View*/
@media (max-width: 767px)  {
		body {font-size: 1em; font-family: Verdana, Geneva, sans-serif; overflow-x: hidden}
		.container { width:90%;  margin: 50px; display: inline-flex; flex-wrap: wrap;      } 
		.row1 { width: 93%; } 
		.row2 {width:93%; margin-top: 19px;margin-left: 5px;}
		.row3 {width: 93%; margin-top: 19px;margin-left: 5px;}
		 }
