/*body {font-size: 16px; color: #fff; background-color: #61122f; font-family: 'Oxygen', sans-serif;}*/

#header-nav { background-color: #0000; border-radius: 0; border: 0; }



.navbar-brand { padding-top: 25px; }


.navbar-brand h1 { font-family: 'Lora', serif;
color: black;
font-size: 1.5em;
text-transform:  uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
 }

 .navbar-brand a:hover, .navbar-brand a:focus {
 	text-decoration: none;
 }

 
#nav-list { font-weight: bold;
	margin-top: 10px;
}

#nav-list a {
	color:black;
	text-align: center;
}

#nav-list a:hover {
	background: #A89F9F;
}

ul {border-top:solid; }
li {border:solid; border-top:none;}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {clear: both; margin-top: -30px;}

.container .jumbotron {box-shadow: 0 0 50px #3F0C1F;
		border: 2px solid #3F0C1F;}




/*end header */
.page-heading {text-align: center;}


body {width: auto; }
 	h4 {text-align: center; padding: 5px 5px 5px 5px;}
 	p{text-align: justify; padding: 0 5px 5px 5px; }
.row1, .row2, .row3{background-color: grey; height:175px; width: 100%; }

#body-content {width: 100%;}
 	 

@media (max-width: 408px) {
	.row1, .row2, .row3 {height: auto; width: auto;}
}


@media (max-width: 1200px) and (min-width: 993px) {
	
	p {font-size: 1.5em}
	.row1, .row2 {height: 275px; width: auto;}
	.row3 {height: 250px;}
	.row1 h4, .row2 h4, .row3 h4 {font-weight: 900;}
}

@media (min-width: 1201px) {
		.row1, .row2, .row3 {height: 250px; width: auto; text-align: justify-all;}

}
